<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
/>
<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
/>
<%-include("homenavbar")%>
<div class="container">
  <div class="jumbotron text-center text-primary">
    <h1><span class=""></span> Change Password</h1>

    <!-- login form -->

    <form action="/change-password" method="POST">
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label"
          >Old Password</label
        >
        <input
          type="password"
          name="oldpassword"
          class="form-control"
          id="exampleInputPassword1"
        />
      </div>

      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label"
          >New Password</label
        >
        <input
          type="password"
          name="newpassword"
          class="form-control"
          id="exampleInputPassword1"
        />
      </div>

      <button type="submit" class="btn btn-primary">Login</button>
    </form>

    <!-- login with goole -->
  </div>
</div>

<script>
  console.log(` hshhx`)
   <%if(error){%>
   alert("<%=error%>");

   <%}%>
</script>
