<%-include("homenavbar")%>

<!-- Home Page -->
<div class="container" style="margin-top: 20px">
  <div class="card text-center">
    <div class="card-header">Home</div>
    <div class="card-body">
      <h5 class="card-title">Welcome</h5>
      <p class="card-text">Please login or signup to continue!!</p>
      <a href="/signup" class="btn btn-primary">Signup</a>
      <a href="/login-page" class="btn btn-primary">Login &nbsp;</a>
    </div>
    <div class="card-footer text-muted">&nbsp;</div>
  </div>
</div>
